.navbar-header div {
    font-size: 30px;
    padding-top: 3px;
    padding-left: 10px;
    font-family: 'Fjalla';
}

.Logo {
    text-align: center;
}
h2 {
    text-align: center;
    padding-bottom: 50px;
}

hr {
    margin-right: 120px;
    margin-left: 120px;
}

section {
    padding-bottom: 40px
}

#presentation {
    padding-top: 70px;
    text-align: center;
}

.text_presentation {
    padding-bottom: 50px;
}

/*---------- CSS CARS ---------*/

#cars .col-md-6 {
    text-align: center;
    padding-bottom: 50px;
}

#cars img {
    width: 80%;
    height: 350px;
}

/*-------- CSS GARANTY -------*/

.text .border h3 {
    padding-bottom: 20px;
}
.border {
    border: solid 1px green;
    border-radius: 40px;
    padding: 10px;
}

.text {
    padding-right: 50px;
}