.Logo {
    text-align: center;
}

.Logo img {
    width: 80%;
    height: 350px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #080808;
}

h2 {
    text-align: center;
    padding-bottom: 50px;
    color: black;
    text-decoration: underline;
}

hr {
    margin-right: 120px;
    margin-left: 120px;
}

section {
    padding-bottom: 40px
}

@media (max-width: 768px) {
    .Logo img {
        height: auto;
        padding-top: 30px;
    }

}

/*---------- CSS CARS ---------*/

#cars .col-md-6 {
    text-align: center;
    padding-bottom: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

#cars .picture img {
    width: 100%;
    height: 350px;
    border-radius: 20px;
}

#cars .col-md-12 {
    text-align: center;
}

#cars .years, .miles {
    border-right: 2px solid black;
    padding-right: 10px;
}

#cars .miles, .energy {
    padding-left: 10px;
}

#cars .years_miles_energy {
    padding-top: 10px;
    padding-bottom: 15px;
}
#cars .price {
    padding-bottom: 20px;
}

/*-------- OVERLAY -------*/
.picture {
    position: relative;
}

.picture .content {
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding-top: 10px; /* Some padding */
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.content p {
    font-size: 20px;
    letter-spacing: 12px;
    font-weight: 900;
}

/*------------*/

@media (max-width: 768px) {
    #cars .picture img {
        height: auto;
    }
}

/*-------- CSS GARANTY -------*/

.text .border h3 {
    padding-bottom: 20px;
}
.border {
    border: solid 1px green;
    border-radius: 40px;
    padding: 10px;
}

.logo_cg img {
    width: 100%;
}

.text {
    padding-right: 50px;
}

@media (max-width: 768px) {
    .text {
        padding: 0;
    }
}