#profil h1 {
    text-align: center;
    padding-bottom: 50px;
}

#profil h2 {
    margin-bottom: 35px;
}

#profil .border {
    float: none;
    margin: auto;
}

#profil .submit {
    text-align: center;
}

#profil div {
    padding-bottom: 20px;
}
