/* CSS used here will be applied after bootstrap.css */
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

#cars_show #main_area #myCarousel .item img {
    width: 100%;
    height: 560px;
}

#cars_show .border {
    border: solid 1px black;
    border-radius: 20px;
    padding: 10px;
}

#cars_show h1 {
    text-align: center;
    padding-bottom: 30px;
    font-weight: bolder;
    padding-top: 50px;
}

#cars_show .description h3 {
    padding-bottom: 20px;
}

#cars_show h4 {
    margin-top: 5px;
    margin-bottom: 5px;
}

#cars_show .description {
    padding-bottom: 30px;
}

#cars_show .description p {
    font-size: 18px;
}

#cars_show .price {
    font-weight: bold;
}

@media (max-width: 768px) {
    #cars_show #main_area #myCarousel .item img  {
        height: auto;
    }
    #carousel-bounding-box {
        padding-bottom: 30px;
    }
    #carousel-text {
        padding-bottom: 20px;
    }
}