/* CSS used here will be applied after bootstrap.css */
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

#cars_show #main_area #myCarousel .item img {
    width: 100%;
    height: 500px;
}

#cars_show h2 {
    text-align: center;
    padding-bottom: 30px;
}

#cars_show .description h3 {
    padding-bottom: 20px;
}

#cars_show .description {
    padding-bottom: 30px;
}