/*--------- NAVBAR ---------*/
.navbar-brand {
    padding: 0;
}
.navbar-right {
    margin-right: 0;
    font-size: 18px;
}

.navbar-header div {
    font-size: 30px;
    padding-top: 3px;
    padding-left: 10px;
    font-family: 'Fjalla';
}

/*----------- FOOTER ------------*/

.footer {
    background: #121212;
    height: auto;
    position: relative;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #DDDDDD;
}

.footer p {
    color: white;
}

.footer img {
    width: 20vw;
}
.footer h3 {
    border-bottom: 1px solid #BAC1C8;
    color: #54697E;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    padding: 30px 0 10px;
    text-transform: uppercase;
}

footer .copyrights {
    padding-top: 20px;
    background: #1e1e1e;
}

@media (max-width: 767px) {
    .logo_footer{
        text-align: center;
    }
    .logo_footer img {
        width: 60%;
    }
}

